In [3]:
import pandas as pd
import numpy as np
import re

In [5]:
cCREs = pd.read_csv('../../data/raw_datas/mm10-cCREs.bed', sep = "\t", header = None)

In [9]:
cCREs

,0,1,2,3,4,5
0,chr1,3012681,3012836,EM10D1036230,EM10E0932225,"CTCF-only,CTCF-bound"
1,chr1,3119617,3119911,EM10D1036249,EM10E0431203,dELS
2,chr1,3119914,3120119,EM10D2262517,EM10E0932226,dELS
3,chr1,3120346,3120662,EM10D1036251,EM10E0431205,dELS
4,chr1,3445885,3446198,EM10D1036337,EM10E0431211,pELS
...,...,...,...,...,...,...
368116,chrX,166516781,166517123,EM10D2261053,EM10E1234933,dELS
368117,chrX,166539724,166540065,EM10D2261067,EM10E1234936,dELS
368118,chrX,166895215,166895561,EM10D2261208,EM10E1234954,dELS
368119,chrX,169861337,169861669,EM10D2994601,EM10E1235078,dELS
368120,chrX,169883413,169883757,EM10D2994616,EM10E1235088,dELS

In [17]:
cCREs.iloc[:,5] == "dELS"

0         False
1          True
2          True
3          True
4         False
          ...
368116     True
368117     True
368118     True
368119     True
368120     True
Name: 5, Length: 368121, dtype: bool

In [12]:
cCREs.iloc[:,5].unique()

array(['CTCF-only,CTCF-bound', 'dELS', 'pELS', 'dELS,CTCF-bound',
       'DNase-H3K4me3,CTCF-bound', 'pELS,CTCF-bound', 'DNase-H3K4me3',
       'PLS', 'PLS,CTCF-bound'], dtype=object)

In [33]:
compiled_ELS = re.compile(pattern = ".*ELS.*")

In [39]:
subseting = [True if compiled_ELS.match(index) != None else False for index in cCREs.iloc[:,5]]

In [41]:
enhancers = cCREs[subseting]

In [42]:
enhancers.iloc[:,[0,1,2]]

           0          1          2             3             4     5
1       chr1    3119617    3119911  EM10D1036249  EM10E0431203  dELS
2       chr1    3119914    3120119  EM10D2262517  EM10E0932226  dELS
3       chr1    3120346    3120662  EM10D1036251  EM10E0431205  dELS
4       chr1    3445885    3446198  EM10D1036337  EM10E0431211  pELS
5       chr1    3451695    3451984  EM10D2262550  EM10E0932230  dELS
...      ...        ...        ...           ...           ...   ...
368116  chrX  166516781  166517123  EM10D2261053  EM10E1234933  dELS
368117  chrX  166539724  166540065  EM10D2261067  EM10E1234936  dELS
368118  chrX  166895215  166895561  EM10D2261208  EM10E1234954  dELS
368119  chrX  169861337  169861669  EM10D2994601  EM10E1235078  dELS
368120  chrX  169883413  169883757  EM10D2994616  EM10E1235088  dELS

[329562 rows x 6 columns]

In [43]:
enhancers.to_csv('../data/Enhancersmm10.bed')

# Subset for only the usefull columns

In [44]:
pro_enhancers = enhancers.iloc[:,[0,1,2]]

In [48]:
pro_enhancers[3] = 1

/tmp/ipykernel_2069234/2143730326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pro_enhancers[3] = 1

In [50]:
column_names = ['chromosome', 'chromStart', 'chromEnd', 'hit']

In [51]:
pro_enhancers.columns = column_names

In [53]:
pro_enhancers.to_csv('../../data/processed_assets/ProEnhancersmm10.csv', sep = ",")